body {
    margin: 0;
    font-family: sans-serif;
    background-color: #222;
}

video.videobackgroundaboutme{
    width: 100%;
    position: fixed;   
}

div.profpic{
    z-index: 2;
    border-radius: 100px;
    top: 15%;
    left: 42%;
    height: 200px;
    width: 200px;
    background-color: #222;
    position: absolute;
}

div.contentaboutme{
    z-index: 1;
    top: 30%;   
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
}

img.profpic{
    border-radius: 100px;
    height: 200px;
    width: 200px;
    box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}