div.navbar {
    width: 100%;
    height: 9%;
    margin: 0 auto;
    position: fixed;
    z-index: 10;
    background: transparent; 
    transition: all ease .8s;
}

div.navbar.shrink {
    height: 6%;
    transition: all ease .8s;
    background: #222; 
}
  
div.navbar.shrink .navbarlogo {
    padding-top: 8px;
    transition: all ease .8s;
} 

div.navbar.shrink li {
    padding-top: 15px;
    transition: all ease .8s;
} 

div.navbar.shrink a {
    font-size: 12;
    transition: all ease .8s;
} 

.navbarlogo{
    float: left;
    opacity: .65;
    padding-left: 9%;
    padding-top: 16px;
    transition: all ease .8s;
}

.navbarlogo:hover {
    opacity: 1;
}

.navbarlogo::before {
    content: '';
    display: block;
    height: 5px;
    background-color: white;
  
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 300ms;
}

nav.navbar {
    float: right;
}

nav.navbar ul {
    margin: 0;
    padding-right: 80px;
    list-style: none;
}

nav.navbar li {
    transition: all ease .8s;
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;  
    position: relative;
}

nav.navbar a {
    transition: all ease .8s;
    color: #BEBEBE;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav.navbar a:hover {
    color: #fff;
}

nav.navbar a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: white;
  
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 300ms;
}

nav.navbar a:hover::before {
    width: 100%;
}