div.navbar {
    width: 94%;
    height: 10%;
    margin: 0 auto;
    position: fixed;
}

.navbarlogo{
    float: left;
    opacity: .65;
    padding-left: 9%;
    padding-top: 11px;
}

.navbarlogo:hover {
    opacity: 1;
}

.navbarlogo::before {
    content: '';
    display: block;
    height: 5px;
    background-color: white;
  
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 300ms;
}

nav.navbar {
    float: right;
}

nav.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav.navbar li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;  
    position: relative;
}

nav.navbar a {
    color: #BEBEBE;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav.navbar a:hover {
    color: #fff;
}

nav.navbar a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: white;
  
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 300ms;
}

nav.navbar a:hover::before {
    width: 100%;
}